body {
    background-color:rgb(0, 0, 0);
    font-family: 'Tilt Prism', cursive;
}

p {
    text-align:right;
}

h4 {
    font-size:large;
    font-family: 'Zeyada', cursive;
    text-decoration:line-through;
    color:orange;
}

h2 {
    font-family: 'Tilt Prism', cursive;
    color:yellow;
    text-align:center;
}